PORT=
JWT_SECRET=
JWT_EXPIRY= # in minutes
REFRESH_TOKEN_EXPIRY= # in minutes

# if ssl is not disabled, it throws an error. But don't use this part(?sslmode=disable) when migrating
DB_URL=

APP_MODE= # local | production
LOCAL_BASE_URL=
LIVE_BASE_URL=

REDIS_URL=
REDIS_CACHE_EXPIRY=
CACHE_ACTIVE= # true|false